*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ptc
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex*
*.toc
*.vrb
*.xdy
*.tdo
*.pdf
*.mat
*.fls
*.spl
!/figures/*.pdf
*.~*
/figures/flow_head.pdf
*.bak
